* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}


li {
    list-style: none;
}

body {
    /*border: 4px double red;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*width: 80% ;
    padding: 0 10% 0 10%;*/
}

header {
    display: flex;
    justify-content: space-between;
    /*border: 4px double black;*/
    padding: 0 11.5% 0 11.5%;
    align-items: stretch;
    align-content: center;
    height: 100%;


}


.Logo_text:before {
    margin: 25px 17px 25px 0;
    content: "";
    background-image: url(../img/header/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;


}

.Logo_text {

    display: flex;
    align-items: center;
    font-size: 32px;
    /*border: 4px double black;*/


}


.Menu_items {
    /*border: 4px double #0aff03;*/
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 3% 0 11.5%;
}

.Menu_items a {
    color: #6c6c6c;
    display: flex;
    align-items: flex-end;
    align-content: space-between;
    font-size: 21px;

}

.Menu_items-a {
    /* border: 4px double #ff9900;*/
    padding: 52px 5px 23px;
}

.Menu_items-a:hover {
    border-bottom: 3px solid #5094f2;

}

.CentreItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

}

.box_cursorLeft {
    margin-left: 3%;
}

.banner_cursorRight {
    padding-right: 3%;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url("../img/box/box_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.boxPadding + .boxPadding {
    padding: 0 10px 0;

}

.box_iphone img {
    max-width: 100%;
}

.box_text-h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 31px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 42px;
    background: #5094f2;
    margin: 35px 0 0 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    color: white;

}

.button:hover {
    background: #3b6ab1;
}

.button:before {
    content: "";
    background-image: url("../img/box/checkpoint.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 23px;
    margin-right: 11px;


}

.block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 10% 93px;
}

.block2_box {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5% 0 1.5%;
}

.block2_img img {
    max-width: 100%;
}

.block2_title {
    font-size: 14px;
    text-align: center;
    color: #909090;
}

h3 {
    font-size: 20px;
    color: #5094f2;
    padding: 31px 0 15px 0;
}

.block3 {
    display: flex;
    justify-content: space-between;
    margin: 0 13% 0 13%;
}

.block3 img {
    max-width: 100%;
}

.block3_leftBox {
    min-width: 40%;
    margin-right: 7.4%;
}

.block3_leftBox p {
    font-size: 43px;
    color: #6f7173;
    margin-bottom: 36px;
    text-align: center;
}

.block3_rightBox-title {
    text-decoration: none;
    margin: 54px 0 36px 0;
    font-size: 27px;
    color: #6f7173;

}

.block3_rightBox {
    line-height: 36px;
    font-size: 16px;
    color: #909090;
    margin-bottom: 66px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 35px 0 49px;
    border-top: #909090 solid 1px;
    color: #909090;
}

footer a {
    color: #909090;
}

/*==============адаптпция============*/

@media (min-width: 750px) and (max-width: 984px) {
    .block3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 57px 10% 93px;

    }

    .banner_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 483px) and (max-width: 750px) {
    .block3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 57px 10% 93px;
    }

    header {
        flex-direction: column;

    }

    .Menu_items {
        /*border: 4px double #0aff03;*/
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-between;
        align-items: stretch;
        margin: 0;
    }

    .Menu_items-a {
        padding: 0 10px 10px;
    }
.CentreItems {
    flex-direction: column;
}
.box_text .boxPadding{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    margin: 5px;
    width: auto;
}
div .box_text-h2 {
    text-align: center;
}
.block2 {
    flex-wrap: wrap;
}
.block2_box{
    width: 100%;
    margin: 20px;
}
}
@media (min-width: 0) and (max-width: 483px){
    .block3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 57px 10% 93px;
    }

    header {
        flex-direction: column;

    }

    .Menu_items {
        /*border: 4px double #0aff03;*/
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-between;
        align-items: stretch;
        margin: 0;
    }


    .Menu_items-a {
        width: 50%;
        padding: 0 10px 10px;
    }
    .CentreItems {
        flex-direction: column;
    }
    .box_text .boxPadding{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button {
        margin: 5px;
        width: auto;
    }
    div .box_text-h2 {
        text-align: center;
    }
    .block2 {
        flex-wrap: wrap;
    }
    .block2_box{
        width: 100%;
        margin: 20px;
    }

}