* {
    margin: 0;
    padding: 0;
}

a {display: flex;
    z-index: 5;
}

body {
    position: relative;
    display:block;
    background-image: url("../pic/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.centre {
    display: flex;
    justify-content: center;

}


.leftBox {
    width: 300px;
    margin: 20px;
    background: black;
    border-radius: 10%;
    padding: 10px;
}
.leftBox:hover{
    box-shadow: 0 0 20px rgb(226, 28, 35);

}
.leftBox img {
    width: 100%;
    border-radius: 10%;

}



.rightBox {
    width: 300px;
    margin: 20px;
    background: black;
    border-radius: 10%;
    padding: 10px;
}
.rightBox:hover{
    box-shadow: 0 0 20px rgb(226, 28, 35);
}

.rightBox img {
    width: 100%;
    border-radius: 20%;

}
.Logo{
    width: 100%;
    height: 500px;
}

.LogoBox {
    display: block;
    width: 100%;
    height: 400px;
    margin: 3% auto 0;

   background-image: url("../pic/KingGamesLogo.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 6;


}
.LogoBox img{
    background-size: contain;
}

.telegram{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    z-index: 7;
}

@media (min-height: 0) and (max-height: 850px){
    .rightBox {
        width: 200px;
    }
    .leftBox{
        width: 200px;
    }
    .LogoBox{
        height: 300px;
    }
}

@media (min-width: 0) and (max-width: 1050px){
    .telegram{
        position: static;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 0) and (max-width: 694px){
    .centre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}